{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/react"],
  "ignorePatterns": "deno/",
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["^@components/*", "^@mapbox/*", "^@styles/*"]
      }
    ],
    "react/react-in-jsx-scope": "off" // using React 17+, not needed!
  }
}
